@import "tailwindcss";

body {
  font-size: 16px;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* TODO: Change this when theming is implemented */
[data-slot="popover"] [data-slot="base"] {
  background-color: theme("colors.white");
}
