@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 16px;
}

@view-transition {
  navigation: auto;
}

html {
  ::-webkit-scrollbar {
    display: none !important;
  }
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none !important;
  }
  .no-scrollbar {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
  }
}
